<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>LudoMuseEditor</Name>
    <Version>1.2.3</Version>
    <Title>LudoMuseEditor Installer</Title>
    <Publisher>IHMTEK</Publisher>
    <StartMenuDir>IHMTEK</StartMenuDir>
    <TargetDir>@HomeDir@/LudoMuseEditor</TargetDir>
</Installer>
